
/*sign in style*/
body{
	text-align: center;
	background-color: #c1f0f0;
	font-family: Verdana;
	color: #7070db;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 3px 3px 5px #999999;
}

img {
  height: 300px;
  width: 300px;
  border-radius:20px;
  box-shadow: 10px 10px 15px #bfbfbf;

}

div {
	height: 450px;
	width: 35%;
	background-color: #ccfff5;
	border-style: solid;
	border-width: 3px;
	border-color: teal;
	border-radius: 20px;
	box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.7);
	position: relative;
	margin-right: 35px;
}

form header {
  background: #FF3838;
  padding: 30px 20px;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  border-radius: 10px 10px 0 0;
}
form label {
  margin-left: 20px;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 5px;
  position: relative;
}
form label span {
  color: #FF3838;
  font-size: 2em;
  position: absolute;
  left: 2.3em;
  top: -10px;
}


